.bg-light {
    background-color: #7952b3 !important;
}
.NAV {
    color: white !important;
    font-size: 18px;
    font-weight: bold; /* Force white text */
}
.NAV1{
    color: white !important;
}
.btn-outline-light.active,
.btn-outline-light.active:hover,
.btn-outline-light.active:focus {
    background-color: #fff;
    color: #7a4eb0;
    border-color: #fff;

}


